<template>
  <div class="container">
    <h1>CV</h1>
    <p>The Link to my CV: <a href="https://drive.google.com/file/d/1eabWbbIISWncR5QIILU7AMOZjLYKEnrx/view?usp=sharing">CV</a></p>
  </div>
</template>

<script>
export default {
    name:"AboutMe",
    props:{
        pTitle:String,
        msg:String,
    }
}
</script>

<style>

</style>