<template>
  <div class="">
    <div class="card hibgcolor">
        <div class="card-content">
            <span class="card-title container"><h5 class="white-text">{{pTitle}}</h5></span>
        </div>
    </div>
    <div class="container">
        <span><blockquote>{{ msg }}</blockquote></span>
        <div class="row">
            <form class="col s12" @submit="onSubmit">
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Placeholder" v-model="title" name="title" id="title" type="text" class="validate">
                    <label for="title">Title</label>
                    </div>
                    <div class="input-field col s6">
                    <input id="institutionSName" v-model="institutionSName" name="institutionSName" type="text" class="validate">
                    <label for="institutionSName">Institution's Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input id="description" v-model="description" name="description" type="text" class="validate">
                    <label for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input id="dateOfIssue" v-model="dateOfIssue" name="dateOfIssue" type="text">
                    <label for="dateOfIssue">Date Of Issue</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Placeholder" v-model="programDuration" name="programDuration" id="programDuration" type="text" class="validate">
                    <label for="programDuration">Program Duration{{ programDuration }}</label>
                    </div>
                    <div class="input-field col s6">
                    <input id="serialNo" v-model="serialNo" name="serialNo" type="text" class="validate">
                    <label for="serialNo">Serial No</label>
                    </div>
                </div>
                <div class="row">
                <div class="col s12 l6 m6">
                    <span><b>Result:{{ result }}</b></span>
                </div>
                <div class="col s12 l6 m6 right-align">
                    <button class="btn-flat btn-large green lighten-4 black-text waves-effect waves-light" type="submit" name="createCertificate">{{pTitle}}
                        <i class="material-icons right">note_add</i>
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>

  </div>
</template>

<script>
export default {
    name:"AddCertificate",
    props:{
        pTitle:String,
        msg:String,
    },
    data(){
        return {
            title:'',
            institutionSName:'',
            description:'',
            dateOfIssue:'',
            programDuration:'',
            serialNo:'',
            result:''
        }
    },
    mounted(){
    
    },
    methods:{
        onSubmit(e){
            e.preventDefault();

            const newCertificate = {
                title:this.title,
                institutionSName:this.institutionSName,
                description:this.description,
                dateOfIssue:this.dateOfIssue,
                programDuration:this.programDuration,
                serialNo:this.serialNo
            }

            console.log(JSON.stringify(newCertificate));
            const url = 'http://localhost:8000/cert/addcert'
            fetch(url,{method:"POST",
            headers:{
                "Content-Type":"application/json"
            },body:JSON.stringify(newCertificate)}).then((data)=>{
                data.json().then((rep)=>{
                this.result=rep;
                }).catch((error)=>{
                    console.log(error.message);
                })
            }).catch(error=>{
                console.log(error.message);
            });
            
        }
    }
}
</script>

<style scoped>
.hibgcolor{
        background-color: #82B1FF;
}
</style>