<template>
  <div class="card hibgcolor">
      <div class="card-content">
          <span class="card-title container"><h5 class="white-text">{{pTitle}}</h5></span>
      </div>
  </div>
  <div class="container">
    <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect waves-yellow green white-text darken-text-2">{{pTitle}}</a>
    </div>
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_MongoDB_M001.jpeg">
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_Intro_to_SQL.png">
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_Python.png">
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_Pandas.png">
    <img class="carousel-item red black-text" src="../../assets/certificates/HI_Data_Visualization.png" alt="">
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_Data_Cleaning.png">
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_Intro_to_Machine_Learning.png">
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_Intermediate_Machine_Learning.png">
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_Intro_to_Deep_Learning.png">
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_Machine_Learning_Explainability.png">
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_Feature_Engineering.png">
    <img class="carousel-item green black-text" src="../../assets/certificates/HI_UNITAR_CMS.png">
  </div>
  
  <div class="hide-on-small-only">
    <div class="col s12 m7" :key="item._id" v-for="item in serverdata">
      <div class="card horizontal">
        <div class="card-image">
          <img :src="require(`../../assets/certificates/${item.imgUrl}`)">
        </div>
        <div class="card-stacked">
          <div class="card-content waves-effect waves-green">
            <h4 class="header">{{ item.title }}</h4>
            <p :key="parts" v-for="parts in item.description.split(/(\d+)/)">{{ parts.replace(/(\d+)/,'') }}</p>
          </div>
          <div class="card-action">
            <a href="#" class="blue-text">...More details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hide-on-med-and-up">
    <div class="card-panel blue lighten-5 black-text "  :key="item._id" v-for="item in serverdata">
      <h5 class="black-text">{{ item.title }}</h5>
      <div>
        <div class="black-text" :key="parts" v-for="parts in item.description.split(/(\d+)/)">{{ parts.replace(/(\d+)/,'') }}</div>
      </div>
    </div>
  </div>

  </div>

</template>

<script>
import M from 'materialize-css';
import data from '../../../certificates'
export default {
    name:'MainPage',
    props:{
        pTitle:String,
        msg:String
    },
    data(){
      return{
        serverdata:data
      }
    },
    created(){
      
      M.AutoInit()

    },
    mounted(){
      M.AutoInit()
      

      // const url = 'http://localhost:8000/cert/certificates'
      // fetch(url).then((data)=>{
      //   data.json().then((rep)=>{
      //     this.serverdata=rep;
      //   })
      // })
    }
}
</script>

<style scoped>

@media screen and (min-width: 1800px) {
    .carousel {
        height: 700px;
    }
}

.hibgcolor{
        background-color: #82B1FF;
}

</style>