<template>
  <div class="container">
    <h1>{{ pTitle }}</h1>
    <p>{{ msg }}</p>
  </div>
</template>

<script>
export default {
    name:"PageNotFound",
    props:{
        pTitle:String,
        msg:String
    }
}
</script>

<style>

</style>