<template>
  <div>
    <div class="card hibgcolor">
        <div class="card-content">
            <span class="card-title container"><h5 class="white-text">{{pTitle}}</h5></span>
        </div>
    </div>
    <div class="container">
        <span><blockquote>{{ msg }}</blockquote></span>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input id="address" type="text" class="validate">
                    <label for="address">Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                <div class="col s12 l6 m6">
                    <span><b>Result:</b></span>
                </div>
                <div class="col s12 l6 m6 right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">{{title}}
                        <i class="material-icons right">security</i>
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>

  </div>
</template>

<script>
export default {
    name:'SignUp',
    props:{
        pTitle:String,
        msg:String
    }

}
</script>

<style scoped>
.hibgcolor{
        background-color: #82B1FF;
}
</style>