<template>
  <footer class="page-footer hibgcolor">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"><b>Hayatullah Ibrahimy</b> Portfolio</h5>
                <blockquote>
                    <p class="grey-text text-lighten-4">
                      <i>Horace Mann — </i>
                      <q>
                        Be ashamed to die until you have won some victory for humanity.
                      </q>
                      <i>Albert Einstein — </i>
                      <q>
                        We cannot solve problems with the kind of thinking we employed when we came up with them.
                      </q> 
                    </p>
                  <p>

                  </p>
                  </blockquote>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">PROJECTS</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Project 1</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2024 Copyright <code>{name:"Hi"}</code>
            <a class="grey-text text-lighten-4 right" href="#!">Imprint</a>
            </div>
          </div>
        </footer>
</template>

<script>
export default {
    name:'FooterSection'
}
</script>

<style scoped>
.hibgcolor{
        background-color: #82B1FF;
}

</style>