<template>
  <header>
    
    <div class="navbar-fixed">
            <nav class="top-nav white">
                <div class="">
                    <div class="nav-wrapper">
                              
                              <div class="container">
                                
                                <a href="#!" class="brand-logo">
                                    <code>
                                        <b class="green-text">{</b><span class="black-text">name</span><b class="black-text">:</b><span class="orange-text">"</span><span class="black-text">Hi</span><span class="orange-text">"</span>
                                        <b class="green-text">}</b>
                                    </code>
                                </a>
                                <a href="#" data-target="slide-out" class="top-nav header sidenav-trigger hide-on-large-only"><i class="material-icons black-text ">menu</i></a></div>
                              
                              <ul id="dropdown1" class="dropdown-content">
                                  <li><router-link to="login">Sign In</router-link></li>
                                  <li><router-link to="signup">Sign Up</router-link></li>
                              </ul>
                              <ul class="right hide-on-med-and-down">
                                  <li><a href="#"><i class="material-icons black-text">search</i></a></li>
                                  <li><a class="dropdown-trigger" href="#" data-target="dropdown1"><i class="material-icons black-text">more_vert</i></a></li>
                              </ul>
                              
                          </div>
                      </div>
                  </nav>
            
          </div>
          <ul id="slide-out" class="sidenav sidenav-fixed" >
            <li class="transparent">
              <div class="user-view waves-effect waves-green">
                <div class="row">
                        <div class="col s12 m4 l4">
                            <div class="left-panel-image">
                                <a href="#"><img src="../assets/squared.png" alt="" class="circle responsive-img"></a>
                            </div>
                        </div>
                        <div class="col s12 m4 l8">
                            <a href="#" class="black-text"><h5 class="h5">H.Ibrahimy</h5></a>
                            <a href="#"><p class="black-text smaller">MSc. Computer Science</p></a>
                        </div>
                    </div>
              </div>
            </li>
            <li class="search">
              <div class="search-wrapper">
                <!-- <input id="search" placeholder="Search">
                <i class="material-icons">search</i> -->
                <div class="hibgcolor white-text portfolio">
                  PORTFOLIO
                </div>
                <div class="search-results"></div>
              </div>
            </li>
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-green" tabindex="0">THIS PAGE</a>
                  <div class="collapsible-body">
                    <ul>
                        <li><router-link to="/">HOME</router-link></li>
                        <li><router-link to="login">Sign In</router-link></li>
                        <li><router-link to="signup">Sign Up</router-link></li>
                    </ul>
                  </div>
                </li>
                <li class="bold"><a class="collapsible-header waves-effect waves-green" tabindex="0">PORTFOLIO</a>
                  <div class="collapsible-body">
                    <ul>
                      <li><router-link to="/aboutme">About Me</router-link></li>
                      <li><router-link to="/addcert">Add Certificate</router-link></li>
                      <li><a href="#">Certificates</a></li>
                      <li><a href="#">Projects</a></li>
                      <li><a href="#">Galleries</a></li>
                    </ul>
                  </div>
                </li>
                <li class="bold"><a class="collapsible-header waves-effect waves-green" tabindex="0">DEMO APPS</a>
                  <div class="collapsible-body" style="">
                    <ul>
                      <li><a href="#">DUKAN</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="bold"><a href="#" class="collapsible-header waves-effect waves-green">CONTACT ME</a></li>
          </ul>
        </header>
</template>

<script>
export default {
    name:'HeaderSection',
}
</script>

<style scoped>
.hibgcolor{
        background-color: #82B1FF;
}
.hibgcolor-lighter{
        background-color: #c1d9ff;
}
.portfolio{
  padding-left: 6%;
}
nav.top-nav {
    /* height: 110px; */
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    /* background-color: transparent; */
}
a img {
height: 20%;
width: 20%;
}
main .container{
padding-left: 5%;
}
.smaller{
font-size: smaller;
}

#slide-out li.search .search-wrapper {
    color: #777;
    margin-top: -1px;
    border-top: 1px solid rgba(0,0,0,0.14);
    -webkit-transition: margin .25s ease;
    transition: margin .25s ease
}

#slide-out li.search .search-wrapper.focused .search-results:not(:empty) {
    border-bottom: 1px solid rgba(0,0,0,0.14)
}

#slide-out li.search .search-wrapper input#search {
    color: #777;
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 62px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 45px 0 30px;
    border: 0
}

#slide-out li.search .search-wrapper input#search:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

/* #slide-out li.search .search-wrapper i.material-icons {
    position: absolute;
    top:21px;
    right: 10px;
    cursor: pointer
} */

#slide-out li.search .search-results {
    margin: 0;
    border-top: 1px solid rgba(0,0,0,0.14);
    background-color: #fff
}

#slide-out li.search .search-results a {
    font-size: 12px;
    white-space: nowrap;
    display: block
}

#slide-out li.search .search-results a:hover,#slide-out li.search .search-results a.focused {
    background-color: #eee;
    outline: none
}
</style>