<template>
 <HeaderSection/>
 <main>
  <MainSection/>
 </main>
 <FooterSection/>
</template>

<script>
import M from 'materialize-css'
import HeaderSection from './components/HeaderSection.vue';
import MainSection from './components/MainSection.vue';
import FooterSection from './components/FooterSection.vue';

export default {
  name: 'App',
  components: {
    HeaderSection,
    MainSection,
    FooterSection
  },
  mounted () {
    M.AutoInit()
},
}
</script>

<style>

</style>
